<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Pitch-A-Tent</title>
  <meta name="description" content="Nebraska State Parks and Recreation Areas with tent camping.  This is a reference and story sharing app.">
  
  <link rel="stylesheet" href="/global.css" type="text/css" media="screen" charset="utf-8">
  <link href='http://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>
</head>

<body>
  <%= yield %>
</body>
</html>