<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Pitch-A-Tent</title>
  <meta name="description" content="Nebraska State Parks and Recreation Areas with tent camping.  This is a reference and story sharing app.">
  
  <link rel="stylesheet" href="/global.css" type="text/css" media="screen">
  <script type="text/javascript" src="jquery.js"></script>
  <script type="text/javascript" src="main.js"></script>
 
  
  <link href='http://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>
</head>

<header>
   <div class="logo">
   <img src="images/logo.png" id=logo ></img>
   </div>
   <div id="bar">
      <ul>
	    <li><a href="/parks">All Nebraska State Parks and SRAs</a></li>
		<li><a href="/">Go Home</a></li>
	  </ul>
    </div>
	
	<div id="clearfix"></div>
</header>



<body>
  <%= yield %>
</body>
</html>