<form action="/park/create" method="post">
  <p>Name: <input type="text" name="name"></p>
  
  <p>Address: <input type="text" name="address"></p>
  <input type="submit">
  </form>
  <a href="/parks">Return to main list.</a>