<form action="/story/create" method="post">
<p>Story: <input type="text" name="story"></p>
<p>Choose the park this story is about:</p>
<select name="park_id">
<%Park.all.each do |park|  %>
<option value="<%= park.id %>"><%= park.name %></option>
<% end  %>
</select>
<p>Who are you?</p>
<select name="person_id">
<%Person.all.each do |person|  %>
<option value="<%= person.id %>"><%= person.name %></option>
<% end  %>
</select>
<input type="submit">
</form>
