<link href='http://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>
<style>
h1 {font-family: 'Pompiere', cursive;}
body {font-family: 'Cedarville Cursive', cursive;}
</style>
<center>
<h1><%= @story.story %> has been updated!</h1>
<a href="/person/<%= @person.id %>stories">Return to main list.</a>
</center>