<body>
<% if @story.valid?%>
	<p>Sweet!  New story!</p>
<% else  %>
<p>You need to write a story!</p>
<a href="/person/<%= @person.id %>/story/new">Try it again.</a>
<%end  %>
<a href="/person/<%= @person.id %>">Go home.</a>
<a href="/person/<%= @person.id %>/stories">Return to main list.</a>
</body>