<link href='http://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>
<style>

header {	
	/*height: 150px;*/
	width: 1000px;
	/*background-image:"/images/title5.png";*/
}

header .logo {
	background-image:"/images/title5.png";
	width: 80%;
	float: left;
	text-size: medium;
	margin-left: -150px;
}

header #bar {
	width: 20%;
	float: right;
	margin-right: -150px;
}

#bar li {
	text-transform: uppercase;
	padding: 20px;
	display: inline-block;
	font-family: 'Pompiere', cursive;
	font-size: large;
	color: ##FFF;
	
}

#clearfix {
	clear: both;
}

body {
	text-align: center;
	font-family: 'Pompiere', cursive;
	font-size: x-large;
	color: #35200A;
	width: 900px;
	margin: 0 auto;
	float: center;
	/*background: #FEFFE7;*/
    font-size: x-large;
	color: #35200A;
	background-image:url('http://brochier.it/images/fabrics/j2594-005-z.jpg');
}

body h1 {
	font-family: 'Cedarville Cursive', cursive;
}

body p {
	font-family: 'Pompiere', cursive;
}
</style>