html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

header #logo {
	float: left;
}

header #bar {
	width: 30%;
	float: right;
	margin-right: -150px;
}

#bar li {
	text-transform: uppercase;
	padding: 20px;
	display: inline-block;
	font-family: 'Pompiere', cursive;
	font-size: xx-large;
	color: ##FFF;
	
}

#clearfix {
	clear: both;
}

body {
	text-align: center;
	font-family: 'Pompiere', cursive;
	font-size: x-large;
	color: #35200A;
	width: 900px;
	margin: 0 auto;
	background-image:url('http://brochier.it/images/fabrics/j2594-005-z.jpg');
  padding: 40px;
}

body h1 {
	font-family: 'Cedarville Cursive', cursive;
}

body p {
	font-family: 'Pompiere', cursive;
}

.submit {
  width: 200px;
  height: 50px;
  font-family: 'Pompiere', cursive;
  font-size: x-large;
  background-color: #E39A19;
  color: #ffffff;
  border-radius: 10px;
}

.text_field {
  width: 300px;
  height: 50px;
}

#tabbed_interface ul{
  margin: 0;
  padding: 0;
}

#tabbed_interface li{
  display: inline-block;
  padding: 25px;
  font-size: xx-large;
  background-color: #D64A00;
  color: #ffffff;
  margin-right: 20px;
  cursor: pointer; 
  padding-bottom: 40px; 
  border-radius: 5px;
}
#tabbed_interface li.active{
  color: #FAD1B8;
}

#tab_content{
  border: 5px solid #D64A00;
  padding: 20px;
  padding-bottom: 40px;
}

a{
  color: #122964;
  text-decoration: none;
}

