<body>
<h1>Hi Friend!</h1>
<%@people.all.each do |person|  %>
<a href="/person/<%= person.id %>"><%= person.name %></a></option>
<% end  %>
<a href="/person/new">OR, introduce yourself!</a> 
</body>




