<style>
body {	
	margin-top: -40px;
	background-image:url('http://upload.wikimedia.org/wikipedia/commons/b/bd/Nebraska_Sandhills_NE97_Hooker_County_1.JPG');
	background-repeat: no-repeat;
}
</style>

<body>
<h1>Hi Friend!</h1>
<%@people.all.each do |person|  %>
<a href="/person/<%= person.id %>"><%= person.name %></a></option>
<% end  %>
<a href="/person/new">OR, introduce yourself!</a> 
</body>




