<center>
<h1> Pitch-A-Tent</h1>
<h2>Hi Friend!</h2>
<%@people.all.each do |person|  %>
<a href="/person/<%= person.id %>"><%= person.name %></a></option>
<% end  %>

<a href="/person/new">OR, introduce yourself!</a> 
</center>



