<link href='http://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>
<style>
h1 {font-family: 'Cedarville Cursive', cursive;}
body {font-family: 'Pompiere', cursive;}
</style>
<!--TOUCH NOTHING -->

<center>
<h1> Pitch-A-Tent</h1>
<h2>Hi Friend!</h2>

<%@people.all.each do |person|  %>
<a href="/person/<%= person.id %>"><%= person.name %></a></option>
<% end  %>
</center>



