<body>
<form action="/person/<%= @person.id %>/update" method="post">
<h1>Name: <input type="text" value="<%= @person.name %>" name="name"></h1>
<input type="submit">
</form>
<a href="/person/<%= @person.id %>/delete"> Delete Person</a>
</body>