<link href='http://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>
<style>
h1 {font-family: 'Cedarville Cursive', cursive;}
body {font-family: 'Pompiere', cursive;}
</style>
<center>
 <h2>Become a New Friend!</h2>
<form action="/person/create" method="post">
<p><input type="text" name="name"></p>	
<input type="submit" value="Let's begin!">
</form>
<a href="/">Return to main list.</a>
</center>
