<body>
<h2>Become a New Friend!</h2>
<form action="/person/create" method="post">
<p><input type="text" name="name"></p>	
<input type="submit" value="Let's begin!">
</form>
<a href="/">Return to main list.</a>
</body>
