<style>
body{	
	background-image:url('http://www.theidboutique.com/wp-content/uploads/2012/02/IMG_3089e.jpg');
	background-repeat: no-repeat;
}
</style>
<body>
<h1>Here are your dear ol' favorites:</h1>
<% @person.parks.each do |park| %>
<a href= "/park/<%= park.id %>"> <%= park.name %></a></option>
<% end  %>
</body>