<!-- <p><a href="/park/new">Add a new park!</a></p> -->
<body>
<h1>Nebraska's State Parks and State Recreation Areas in Which You May Pitch!</h2>
	<h2> (your tent, that is)!</h2>
<%@parks.each do |p|  %>
<h1><a href="/park/<%= p.id %>"><%= p.name %></a></h1>
<p><%= p.address %></p>
<%end%>
<td><a href="/">Go home.</a></td>
</body>
