
<style>
body {
	background-image:'images/800x518_Seamless_Plaid_Patterns_Preview2.jpeg';
	width: 100%;
	margin: 0 auto;
}

h1 {
  font-family: Pompiere, cursive;
}
</style>

<!-- <p><a href="/park/new">Add a new park!</a></p> -->
<body>
<h1>Nebraska State Parks and SRAs</h1>
<%@parks.each do |p|  %>
<h2><a href="/park/<%= p.id %>"><%= p.name %></a></h2>
<p><%= p.address %></p>
<%end%>
</body>
