<body>
<h1><%= @park.name %></h1>
<p><%= @park.address %></p>
<%@stories.each do |story| %>
  <% if story.person != nil %>
    <p>Stories about this Park:</p>
    <p>Authored by </p><%= story.person %>
    <p><%= story.story %></p>
  <% end %>
  <p> No stories yet.  YOU should write one!</p>
<% end %>
</body>
