<body>
<form action="/park/<%= @park.id %>/update" method="post">
<p>Name: <input type="text" name="name" value="<%= @park.name %>" ></p>
<p>Address: <input type="text" name="address" value="<%= @park.address %>" ></p>
<input type="submit">
</form>
<a href="/park/<%= @park.id %>/delete"> Delete Park</a>
<a href="/parks">Return to main list.</a>
</body>