<link href='http://fonts.googleapis.com/css?family=Pompiere' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cedarville+Cursive' rel='stylesheet' type='text/css'>
<style>
h1 {font-family: 'Pompiere', cursive;}
body {font-family: 'Cedarville Cursive', cursive;}
</style>
<form action="/park/create" method="post">
<p>Name: <input type="text" name="name"></p>
<p>Address: <input type="text" name="address"></p>
<input type="submit">
</form>
<a href="/parks">Return to main list.</a>